$colorBG: pink;
$colorBGSecondary: blue;
$colorTextSecondary:white;
$mainTextColor: black;
$secondaryTextColor: gray;

$mainBgColor: white;
$secondaryBgColor: gainsboro;

$borderColor: gray;

$accentColor: maroon;
$infoColor: green;